<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webview">

    <application>

        <!--                  activity                  -->

        <activity
            android:name=".view.WebviewActivity"
            android:process=":webview"
            android:screenOrientation="portrait">
        </activity>

        <!--                  service                  -->

        <service android:name=".service.MainRemoteService" />

        <service
            android:name=".service.PreWebService"
            android:process=":webview" />

    </application>

</manifest>